<div class="calculator-page">
  <form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
    <div class="left-side">
      <div class="section">
        <h5 style="display: inline-flex">Loan Type</h5>
        <div
          class="error-message"
          *ngIf="
            loanForm.get('loanType')!.hasError('required') &&
            loanForm.get('loanType')!.touched
          "
        >
          Please select a loan type.
        </div>
        <div class="checkbox-group">
          <div class="ckb-loan-type" *ngFor="let type of loanTypes">
            <input
              type="radio"
              formControlName="loanType"
              [value]="type.value"
            />
            {{ type.label }}
          </div>
        </div>
      </div>
      <div class="section">
        <h5>Loan Amount</h5>
        <div class="input-container">
          <app-slider
            [minValue]="1000"
            [maxValue]="200000"
            [step]="1000"
            [control]="this.loanForm.get('loanAmount')"
          ></app-slider>
          <input
            type="number"
            id="input-slider-loan-amount"
            class="input-slider-loan-amount"
            formControlName="loanAmount"
            [ngModel]="this.loanForm.controls['loanAmount'].value"
          />
        </div>
      </div>
      <div class="section">
        <h5>Interest Amount</h5>
        <div class="input-container">
          <app-slider
            [minValue]="0.1"
            [maxValue]="25"
            [step]="0.1"
            [control]="this.loanForm.get('interestAmount')"
          ></app-slider>

          <input
            type="number"
            id="input-slider-interest-amount"
            class="input-slider-interest-amount"
            formControlName="interestAmount"
            [ngModel]="this.loanForm.controls['interestAmount'].value"
          />
          <span>% p.a.</span>
        </div>
      </div>
      <div class="section">
        <h5>Loan Term</h5>
        <div class="input-container">
          <app-slider
            [minValue]="1"
            [maxValue]="60"
            [step]="1"
            [control]="this.loanForm.get('loanTerm')"
          ></app-slider>
          <input
            type="number"
            id="input-slider-loan-term"
            class="input-slider-loan-term"
            formControlName="loanTerm"
            [ngModel]="this.loanForm.controls['loanTerm'].value"
          />
          <select name="term-type" id="term-type" formControlName="termType">
            <option value="year">Years</option>
            <option value="month">Months</option>
          </select>
        </div>
      </div>
    </div>

    <div class="right-side">
      <div class="card">
        <div class="card-top">
          <div class="row">
            <div class="info fw-bold">
              Loan
              {{ (calculatorResponse$ | async)?.loanTypeResponse | uppercase }}
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="bar-graph">
            <app-graph-bar [list]="graphData"></app-graph-bar>
          </div>
          <div class="row">
            <span class="small-circle light-red"></span>
            <div class="info">Principal</div>
            <div class="amount-total">
              {{
                ((calculatorResponse$ | async)
                  ? (calculatorResponse$ | async)?.principal
                  : 0
                ) | currency : "INR" : "symbol" : "1.2-2"
              }}
            </div>
          </div>
          <div class="row">
            <span class="small-circle dark-red"></span>
            <div class="info">Interest Payable</div>
            <div class="amount-total">
              {{
                ((calculatorResponse$ | async)
                  ? (calculatorResponse$ | async)?.interestPayable
                  : 0
                ) | currency : "INR" : "symbol" : "1.2-2"
              }}
            </div>
          </div>
          <div class="row">
            <div class="info fw-bold">Total Amount Payable</div>
            <div class="amount-total fw-bold">
              {{
                ((calculatorResponse$ | async)
                  ? (calculatorResponse$ | async)?.totalAmountPayable
                  : 0
                ) | currency : "INR" : "symbol" : "1.2-2"
              }}
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="apply">Calculate</button>
        </div>
      </div>
    </div>
  </form>
</div>
