<div class="about">
  <div class="container">
    <div class="section">
      <h2 class="first-line">About the Project</h2>
      <p class="section-text">
        The Angular project is a simple interest loan calculator that allows users to simulate loans for various purposes. It features a responsive interface and is crafted in pure CSS.
      </p>
      <p class="section-text">
        The project employs various Angular development techniques to create an interactive and informative user experience.
      </p>
    </div>

    <div class="section">
      <h2 class="section-title" style="padding-top: 30px;">Technical Description</h2>
      <p class="section-text">
        The project is an Angular application that follows best development practices and utilizes various advanced techniques. Here are the main components and techniques used:
      </p>

      <ol class="section-list">
        <li class="section-item">
          <p class="section-subtitle">
            <strong>Angular Modules and Components</strong>:
          </p>
          <ul class="inner-list">
            <li class="inner-item">
              <code>`AppModule`</code>: The root module of the Angular application.
            </li>
            <li class="inner-item">
              <code>`AppRoutingModule`</code>: Routing module that manages application routes.
            </li>
            <li class="inner-item">
              <code>`AppComponent`</code>: The root component of the application.
            </li>
            <li class="inner-item">
              <strong><code class="test">VIEWS</code></strong
              >:
            </li>
            <ul class="inner-inner-list">
              <li class="inner-inner-item">
                <code>`HomeComponent`</code>: Home page component located in the <code>`views/home`</code> folder.
              </li>
              <li class="inner-inner-item">
                <code>`AboutComponent`</code>: "About" page component located in the <code>`views/about`</code> folder.
              </li>
              <li class="inner-inner-item">
                <code>`LoanCalculatorComponent`</code>: Loan calculator component located in the <code>`views/loanCalculator`</code> folder.
              </li>
            </ul>
            <li class="inner-item">
              <strong><code class="test">COMPONENTS</code></strong
              >:
            </li>
            <ul class="inner-inner-list">
              <li class="inner-inner-item">
                <code>`NavbarComponent`</code>: Navigation bar component located in the <code>`components/navbar`</code> folder.
              </li>
              <li class="inner-inner-item">
                <code>`FooterComponent`</code>: Footer component located in the <code>`components/footer`</code> folder.
              </li>
              <li class="inner-inner-item">
                <code>`GraphBarComponent`</code>: Component that displays bar charts located in the <code>`components/graphBar`</code> folder.
              </li>
            </ul>
            <li class="inner-item">
              <strong><code class="test">MODEL</code></strong
              >:
              <ul class="inner-inner-list">
                <li class="inner-inner-item">
                  <code>`Graph`</code>: An interface that defines the data structure used to create bar charts.
                </li>
              </ul>
            </li>
            <li class="inner-item">
              <strong><code class="test">SERVICES</code></strong
              >:
              <ul class="inner-inner-list">
                <li class="inner-inner-item">
                  <code>`LoanCalculatorService`</code>: A service that handles loan simulation. It makes HTTP calls to a simulation service.
                </li>
              </ul>
            </li>
            <li class="inner-item">
              <strong><code>db.json</code></strong
              >:
              <ul class="inner-inner-list">
                <li class="inner-inner-item">
                  A JSON file that can contain simulated data or application information, used by the <code>`LoanCalculatorService`</code>.
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="section-item">
          <p class="section-subtitle"><strong>Routing</strong>:</p>
          <ul class="inner-list">
            <li class="inner-item">
              Routing is configured in the <code>`AppRoutingModule`</code>, which defines routes to different components.
            </li>
          </ul>
        </li>
        <li class="section-item">
          <p class="section-subtitle">
            <strong>HTML and CSS of Components</strong>:
          </p>
          <ul class="inner-list">
            <li class="inner-item">
              Each component has its own HTML and CSS files to define the structure and style.
            </li>
            <li class="inner-item">
              Styles are primarily defined using CSS classes.
            </li>
          </ul>
        </li>
        <li class="section-item">
          <p class="section-subtitle"><strong>Services</strong>:</p>
          <ul class="inner-list">
            <li class="inner-item">
              <code>`LoanCalculatorService`</code>: A service that handles loan simulation. It makes HTTP calls to a simulation service.
            </li>
          </ul>
        </li>
        <li class="section-item">
          <p class="section-subtitle"><strong>Data Model</strong>:</p>
          <ul class="inner-list">
            <li class="inner-item">
              <code>`Graph`</code>: An interface that defines the data structure used to create bar charts.
            </li>
          </ul>
        </li>
        <li class="section-item">
          <p class="section-subtitle">
            <strong>Forms and Validation</strong>:
          </p>
          <ul class="inner-list">
            <li class="inner-item">
              Forms are defined in components using the <code>`FormBuilder`</code> module.
            </li>
            <li class="inner-item">
              Input validation is performed using Angular's validation features.
            </li>
          </ul>
        </li>
        <li class="section-item">
          <p class="section-subtitle">
            <strong>Navigation Routing</strong>:
          </p>
          <ul class="inner-list">
            <li class="inner-item">
              Page navigation is done using <code>`routerLink`</code> directives in the navigation bar component's links.
            </li>
          </ul>
        </li>
        <li class="section-item">
          <p class="section-subtitle"><strong>Styling</strong>:</p>
          <ul class="inner-list">
            <li class="inner-item">
              Styling is primarily done with CSS, with style definitions for components and interface elements.
            </li>
          </ul>
        </li>
        <li class="section-item">
          <p class="section-subtitle">
            <strong>Data Communication</strong>:
          </p>
          <ul class="inner-list">
            <li class="inner-item">
              The <code>`LoanCalculatorComponent`</code> communicates with the <code>`LoanCalculatorService`</code> to perform loan simulation and update displayed data.
            </li>
          </ul>
        </li>
        <li class="section-item">
          <p class="section-subtitle">
            <strong>Bar Charts</strong>:
          </p>
          <ul class="inner-list">
            <li class="inner-item">
              The <code>`GraphBarComponent`</code> is responsible for displaying bar charts with simulation data.
            </li>
          </ul>
        </li>
        <li class="section-item">
          <p class="section-subtitle"><strong>Responsiveness</strong>:</p>
          <ul class="inner-list">
            <li class="inner-item">
              Style rules are defined to make the application responsive on smaller screens.
            </li>
          </ul>
        </li>
        <li class="section-item">
          <p class="section-subtitle"><strong>HTTP Requests</strong>:</p>
          <ul class="inner-list">
            <li class="inner-item">
              The application makes HTTP calls to a simulated service to obtain loan simulation results.
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</div>
